---
const identity = {
    first_name: "Bruno",
    last_name: "Cuevas-Zuviría",
    occupation: "post-doctoral researcher",
    hobbies: ["coding"]
}
const skills = ["python", "noe4j", "astro"]
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>

    <h2>
        Hi there!
    </h2>

    <p>
        My name is {identity.first_name} {identity.last_name}. I am a {identity.occupation}
        working at the Universidad Politécnica de Madrid, and this is my blog.
    </p>

    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    

</BaseLayout>