---
import fs from 'fs/promises';
import BaseLayout from "../layouts/BaseLayout.astro"
import Publication from '../components/Publication.astro';
import { load } from 'js-yaml';
const raw = await fs.readFile(new URL('../data/cv.yaml', import.meta.url), 'utf-8');
const cv = load(raw) as any;
const pageTitle = "BCZ CV"
---


<BaseLayout pageTitle={pageTitle}>

    
    <h2>Contact</h2>
    <p>{cv.contact.email} — <a href={cv.contact.website}>{cv.contact.website}</a> — {cv.contact.location}</p>


    <section>
        <h2>Summary</h2>
        {cv.summary?.map((e) => (
            <p>{e}</p>
        ))}
        
    </section>

    

    <section>
        <h2>Experience</h2>
        <ul>
            {cv.experience?.map((e) => (
            <li>
                <div class="experience-item">
                <b>{e.role} — {e.company}</b>
                <div class="date">{e.start} — {e.end}</div>
                <p>{e.description}</p>
            </div>
            </li>
            
        ))}
        </ul>
        
    </section>
    <section>
        <h2>Education</h2>
        <ul>
            {
                cv.education?.map(
                    (e) => <li><b>{e.degree} in {e.area}</b> {e.institution} - {e.start_date} / {e.end_date}.</li>
                )
            }
        </ul>
    </section>

    <section>
        <h2>Publications</h2>
        
        <ul>
            {cv.publications?.map((e) => (
                
                 <Publication title={e.title} year={e.year} journal={e.journal} doi={e.doi} tags={e.tags}/>
                
            ))}
        </ul>
    </section>

    


    

    <section>
        <h2>Skills</h2>
        <ul>
            {cv.skills?.map((s) => <li>{s}</li>)}
        </ul>
    </section>
</BaseLayout>